@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

.navbar,
.navbar-default {
    background-color: #EADDD1;
    margin: 0;
    padding: 0;
    height: 127px;
    position: relative;
    border: none;
}

.navbar-default .navbar-collapse,
.navbar-default
.navbar-form {
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    padding: 0;
}

.navbar-vector {
    background-image: url('../assets/main-page/header-vector.svg');
    position: absolute;
    transform: translate(50%);
    bottom: 0;
    left: -75%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 0;
    height: 100%;
    max-width: 1200px;
}

.navbar-right {
    padding-top: 55px;
    margin: 0;
    height: 100%;
    display: flex;
    gap: 20px;
}

.navbar-top>.nav__link {
    letter-spacing: 1.5px;
}

.navbar-nav>li {
    display: flex;
}

.navbar-default .navbar-nav>li>a {
    color: #402913;
    padding: 0;
    font-family: 'LT-Wave-Medium', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.015em;
}

.container-fluid > .navbar-header {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9;
}

.navbar-header:before,
.navbar:after,
.navbar-header:after,
.container-fluid:before,
.container-fluid:after,
.navbar:before,
.footer .navbar-right {
    display: none;
    content: none; 
}

.logo {
    width: 289.57px;    
    padding: 0;
    z-index: 2;
}





.navbar-default .navbar-text {
    font-family: 'LT-Wave-Regular', sans-serif;
    min-width: fit-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #402913;
    letter-spacing: -0.015em;
    text-align: right;
    margin: 0;
}

.footer .container-fluid {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer > .navbar {
    background-color: #FFF7E1;
    color: #402913;
    padding-top: 20px;
}

.container-fluid > .navbar-footer {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer .navbar-right {
    display: flex;
    align-items: baseline;
    gap: 10.5px;
}

.footer .nav__item > .nav__link {
    min-width: fit-content;
}

@media screen and (max-width: 480px) {
    .input-group {
        margin-top: 31px;
    }
    .input-group .form-control:last-child {
        padding: 0px 33px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .form-control::placeholder {
        font-size: 14px;
        line-height: 19.6px;
    }
    .btn-group>.btn:first-child {
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .btn {
        font-size: 16px;
        line-height: 22.4px;
        padding: 13px 48px 13px 33px;
    }
    .main .footer .nav__item > .nav__link {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0;
    }
}

@media (max-width: 992px) {
    .navbar-toggle {
        display: flex;
        flex-direction: column;
        padding: 17px 0 0 0;
        margin: 0;
    }
    .navbar-vector,
    .navbar-toggle:not(.collapsed) .icon-bar {
        display: none;
    }
    .navbar-top {
        margin: 0;
        position: fixed;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -13%);
        width: 340px;
        padding: 28px;
        flex-direction: column;
        background-color: #FFF7E1;
        height: fit-content;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        gap: 0;
        z-index: 10;
    }
    .navbar-top > .nav__item {
        padding-top: 17px;
        padding-bottom: 17px;
        max-width: 304px;
        border-bottom: 1px solid #40291366;
    }
    .navbar-top > .nav__item:first-child {
        padding-top: 0;
    }
    .nav__item:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar, .navbar-default {
        background-color: #FFF7E1;
        height: 70px;
    }
    .container-fluid .logo {
        width: 117.21px;
        padding: 0;
        margin-left: 18px;
    }
    .container-fluid {
        height: 90%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #402913;
    }
    .navbar-default .navbar-toggle {
        padding: 0px 17px 0 0;
        border: none;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-toggle .icon-bar {
        width: 29px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
   .overlay {
        display: block;
    }
    .navbar-toggle:not(.collapsed) .close-icon {
        display: block;
        background-image: url('../assets/burger-menu-close-btn.svg');
        background-position: center;
        width: 20.51px;
        height: 21px;
        z-index: 10;
    }
    .navbar-nav>li {
        float: none;
        margin-top: 0;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1142px) {
    .footer > .navbar {
        height: fit-content;
        padding: 54px 0 68px 0;
    }
    .footer .container-fluid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container-fluid > .navbar-footer {
        padding-top: 40px;
    }
    .navbar-text {
        display: none;
    }
    .footer .logo {
        padding: 0;
    }
}
