@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('https://fonts.cdnfonts.com/css/lt-wave');

.navbar, .navbar-default {
    background-color: #EADDD1;
    margin: 0;
    padding: 0;
    height: 127px;
    position: relative;
    border: none;
}

.navbar-vector {
    background-image: url('../assets/main-page/header-vector.svg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

.navbar-top {
    padding-top: 45px;
    margin-right: 13px;
    height: 100%;
    display: flex;
    gap: 55px;
}

.navbar-top > .nav__link {
    letter-spacing: 1.5px;
}

.navbar-nav>li {
    display: flex;
}

.navbar-default .navbar-nav>li>a {
    color: #402913;
    padding: 0;
    font-family: 'LT-Wave Regular', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.015em;
}

.container-fluid >.navbar-header {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    /* padding-right: 20px; */
    padding: 0 0 0 60px;
    z-index: 2;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    padding: 62px 0 54px 0;
    top: 0;
    left: 0;
    position: relative;
}

.welcome__background-vector-right {
    background-image: url('../assets/main-page/Vector1.svg');
    background-repeat: no-repeat;
    width: 1040px;
    height: 924px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.welcome__background-vector-left {
    background-image: url('../assets/main-page/Vector2.png');
    background-repeat: no-repeat;
    width: 366px;
    height: 668px;
    position: absolute;
    background-size: cover;
    bottom: 0;
    right: 0;
}

.welcome__background-vector-cup {
    background-image: url('../assets/main-page/coffee-cup-in-hand.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 798px;
    height: 770px;
    right: 0;
    bottom: 0;
}

.welcome__img {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.welcome__container {
    display: flex;
    gap: 40px;
}

.welcome__info-container {
    display: flex;
    flex-direction: column;
    max-width: 653px;
    margin: 78px 63px 0 0;
}

.welcome__title {
    font-family: 'Goyuz-Grotesk-Bold';
    font-size: 4em;
    /* font-size: 64px; */
    font-weight: 700;
    line-height: 70px;
    margin: 0;
    color: #402913;
    z-index: 2;
}

.welcome__subtitle {
    font-family: 'LT-Wave Regular', sans-serif;
    color: #402913;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    max-width: 640px;
    margin: 25px 0 0;
    z-index: 2;
    letter-spacing: 0.4px;
}

.input-group {
    display: flex;
    max-width: 419px;
    margin-top: 23px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    padding: 0 25px;
    width: 100%;
    height: 52px;
    border-radius: 40px;
    box-shadow: 0px 10px 28px 0px #14142B1A;
    background-color: #FFF7E1;
    border: none;
}

.form-control::placeholder {
    font-family: 'LT-Wave Regular', sans-serif;
    color: #402913;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.3px;
}

.btn {
    padding: 14px 21px;
    background-color: #FF5819;
    border-radius: 40px;
    width: 182px;
    height: 52px;
    color: #fff;
    font-family: 'LT-Wave Regular', sans-serif;
    font-size: 17px;
    font-weight: 900;
    line-height: 23.8px;
    text-align: center;
    z-index: 2;
}

.btn-group>.btn:first-child {
    margin: 25px 0 0 0;
    letter-spacing: 0.3px;
    border: none;
}

.yandex-map {
    display: flex;
    height: 690px;
    z-index: 1;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.partners__top-vector {
    position: absolute;
    background-image: url('../assets/main-page/partners-top-vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 194px;
    top: 0;
    left: 0;
}

.partners__bottom-vector {
    position: absolute;
    background-image: url('../assets/main-page/partners-bottom-vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 194px;
    bottom: -1px;
    left: 0;
}

.partners__coffee-cup {
    position: absolute;
    background-image: url('../assets/main-page/partners-coffee-cup.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 830px;
    height: 1074px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.partners__coffee-beans {
    position: absolute;
    background-image: url('../assets/main-page/cofee-beans.svg');
    background-repeat: no-repeat;
    width: 575px;
    height: 475px;
    top: 0;
    right: -126px;
    z-index: -1;
}

.partners__title {
    font-family: 'Goyuz-Grotesk-Bold';
    color: #402913;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    margin: 130px 0 0;
    text-align: center;
}

.partners__subtitle {
    font-family: 'LT-Wave Regular', sans-serif;
    max-width: 614px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.4px;
}

.partners__container {
    display: flex;
    padding-top: 36px;
    gap: 29px;
}

.partners__item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFF7E1;
    box-shadow: 0px 14px 42px 0px #14142B24;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.partners__img {
    max-width: 438px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.partners__name {
    width: fit-content;
    margin: 0;
    padding: 29px 24px 0 24px;
    font-family: 'LT-Wave Regular', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.3px;
}

.partners__rating {
    width: fit-content;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 24px;
    gap: 5px;
}

.partners__star {
    width: 19.85px;
    height: 19px;
    background: url('../assets/main-page/full-star.svg') no-repeat center;
}

.partners__star:nth-last-child(2) {
    background: url('../assets/main-page/halft-star.svg') no-repeat center;
}

.partners__star:last-child {
    background: url('../assets/main-page/empty-star.svg') no-repeat center;
}

.partners__description {
    width: fit-content;
    margin: 0;
    padding: 14px 24px 0 24px;
    font-family: 'LT-Wave Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.partners__review {
    width: fit-content;
    padding: 70px 24px 10px 24px;
    font-family: 'LT-Wave Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 1.5px;
}

.partners > .btn.btn-default {
    width: fit-content;
    margin: 63px 0 212px;
    padding: 14px 66px;
    box-shadow: 0px 10px 28px 0px #14142B1A;
    letter-spacing: 0.4px;
    line-height: 1.6;
}

.previous, .next {
    width: 49px;
    height: 49px;
    background-color: #FF5819;
    position: absolute;
    top: 48.5%;
    color: #fff;
    font-size: 18px;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.previous {
    left: 117px;
    background-image: url('../assets/main-page/back-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.next {
    right: 117px;
    background-image: url('../assets/main-page/next-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-default .navbar-text {
    font-family: 'LT-Wave Regular', sans-serif;
    min-width: fit-content;
    padding-top: 53px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #402913;
    letter-spacing: 0.03579em;
    text-align: right;
    margin: 0  0 0 10.3%;
    -webkit-font-smoothing: antialiased;
}

.footer .container-fluid {
    margin: 0;
    display: flex;
}

.footer > .navbar {
    background-color: #FFF7E1;
    color: #402913;
    padding-top: 20px;
}

.container-fluid > .navbar-footer {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer .navbar-right {
    margin-left: 9%;
    padding-top: 30px;
    margin-right: 13px;
    height: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer .nav__item > .nav__link {
    min-width: fit-content;
}

@media screen and (max-width: 1421px) {
    .footer .navbar-right {
        padding: 0;
        margin: 0;
    }
    .footer > .navbar {
        height: fit-content;
        padding-bottom: 60px;
    }
    .footer .container-fluid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container-fluid > .navbar-footer {
        padding-top: 40px;
    }
    .navbar-text {
        display: none;
    }
    .logo {
        padding: 0;
    }
}