@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

.navbar,
.navbar-default {
    background-color: #EADDD1;
    margin: 0;
    padding: 0;
    height: 127px;
    position: relative;
    border: none;
    z-index: 100;
    padding: 0 80px 0 63px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    max-width: 1200px;
    margin: 0 auto;
    border: none;
    padding: 0;
}

.navbar-vector {
    background-image: url('../assets/main-page/header-vector.svg');
    position: absolute;
    transform: translate(50%);
    bottom: 0;
    left: -75%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

.navbar-right {
    padding-top: 55px;
    margin: 0;
    height: 100%;
    display: flex;
    gap: 20px;
}

.navbar-top>.nav__link {
    letter-spacing: 1.5px;
}

.navbar-nav>li {
    display: flex;
}

.navbar-default .navbar-nav>li>a {
    color: #402913;
    padding: 0;
    font-family: 'LT-Wave-Medium', sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.015em;
}

.container-fluid > .navbar-header {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9;
}

.navbar-header:before,
.navbar:after,
.navbar-header:after,
.container-fluid:before,
.container-fluid:after,
.navbar:before,
.footer .navbar-right {
    display: none;
    content: none; 
}

.logo-link {
    display: flex;
    z-index: 2;
}

.logo {
    width: 289.57px;    
    padding: 0;
    z-index: 2;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.welcome {
    display: flex;
    padding: 62px 0 54px 0;
    position: relative;
}

.welcome__background-vector-right {
    background-image: url('../assets/main-page/Vector1.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: translateX(50%);
    position: absolute;
    top: -1px;
    left: -75%;
    z-index: -2;
}

.welcome__background-vector-left {
    background-image: url('../assets/main-page/Vector2.svg');
    background-repeat: no-repeat;
    width: 40%;
    height: 85%;
    position: absolute;
    transform: translate(50%);
    background-size: cover;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.welcome__background-vector-cup {
    background-image: url('../assets/main-page/coffee-cup-in-hand.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.welcome__img {
    width: 100%;
    max-width: 633px;
    z-index: 2;
}

.welcome__container {
    margin: 0 auto;
    padding: 0 80px 0 63px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    gap: 40px;
}

.welcome__info-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 46px 63px 0 0;
    margin: 46px 0 0 0;
}

.welcome__title {
    font-family: 'Goyuz-Grotesk-Bold';
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.09;
    margin: 0;
    color: #402913;
    z-index: 2;
}

.welcome__subtitle {
    font-family: 'LT-Wave-Regular', sans-serif;
    color: #402913;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
    max-width: 464px;
    margin: 20px 0 0;
    z-index: 2;
}

.input-group {
    display: flex;
    max-width: 395px;
    margin-top: 58px;
}

.input-group .form-control:last-child {
    padding: 0 25px;
    width: 100%;
    height: 52px;
    border-radius: 40px;
    box-shadow: 0px 10px 28px 10px #14142B1A;
    background-color: #FFF7E1;
    border: none;
}

.form-control::placeholder {
    font-family: 'LT-Wave-Regular', sans-serif;
    color: #402913;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.btn {
    border: none;
    padding: 14px 21px;
    background-color: #FF5819;
    border-radius: 40px;
    width: 182px;
    height: 52px;
    color: #fff;
    font-family: 'LT-Wave-Black', sans-serif;
    font-size: 17px;
    font-weight: 900;
    line-height: 23.8px;
    text-align: center;
    z-index: 2;
}

.btn-group>.btn:first-child {
    margin: 20px 0 0 0;
    border: none;
}

.yandex-map {
    display: flex;
    height: 590px;
    z-index: 1;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.partners__top-vector {
    position: absolute;
    background-image: url('../assets/main-page/partners-top-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.partners__bottom-vector {
    position: absolute;
    background-image: url('../assets/main-page/partners-bottom-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    height: 100%;
    bottom: -1px;
    left: 0;
}

.partners__coffee-cup {
    position: absolute;
    background-image: url('../assets/main-page/partners-coffee-cup.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 830px;
    height: 1074px;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.partners__coffee-beans {
    position: absolute;
    background-image: url('../assets/main-page/coffee-beans.svg');
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 100%;
    top: -2%;
    right: 0;
    z-index: -1;
}

.partners__title {
    font-family: 'Goyuz-Grotesk-Bold';
    color: #402913;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.375;
    margin: 130px 0 0;
    text-align: center;
}

.partners__subtitle {
    font-family: 'LT-Wave-Regular', sans-serif;
    max-width: 464px;
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.partners__container {
    display: flex;
    padding-top: 36px;
    gap: 26px;
}

.partners__item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFF7E1;
    box-shadow: 0px 14px 42px 0px #14142B24;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.partners__img {
    width: 235px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.partners__name {
    width: fit-content;
    margin: 0;
    padding: 28px 24px 0 24px;
    font-family: 'LT-Wave-Bold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.partners__rating {
    width: fit-content;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 3px 25px;
    gap: 5px;
}

.partners__star {
    width: 19.85px;
    height: 19px;
    background: url('../assets/main-page/full-star.svg') no-repeat center;
}

.partners__star:nth-last-child(2) {
    background: url('../assets/main-page/halft-star.svg') no-repeat center;
}

.partners__star:last-child {
    background: url('../assets/main-page/empty-star.svg') no-repeat center;
}

.partners__description {
    width: fit-content;
    margin: 0;
    padding: 8px 24px 0 24px;
    font-family: 'LT-Wave-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.partners__review {
    width: fit-content;
    padding: 67px 24px 10px 24px;
    font-family: 'LT-Wave-Regular', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}

.partners > .btn.btn-default {
    width: fit-content;
    margin: 65px 0 212px;
    padding: 14px 66px;
    box-shadow: 0px 10px 28px 0px #14142B1A;
    line-height: 23.8px;
}

.pager li {
    display: flex;
    margin-top: 300%;
    width: 49px;
    height: 49px;
    background-color: #FF5819;
    color: #fff;
    font-size: 18px;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.previous {
    background: url('../assets/main-page/back-arrow.svg') no-repeat center;
}

.next {
    background: url('../assets/main-page/next-arrow.svg') no-repeat center;
}

.carousel-indicators {
    display: none;
}

.navbar-default .navbar-text {
    font-family: 'LT-Wave-Regular', sans-serif;
    min-width: fit-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #402913;
    letter-spacing: -0.015em;
    text-align: right;
    margin: 0;
}

.footer .container-fluid {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer > .navbar {
    background-color: #FFF7E1;
    color: #402913;
    padding-top: 20px;
}

.container-fluid > .navbar-footer {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer .navbar-right {
    display: flex;
    align-items: baseline;
    gap: 10.5px;
}

.footer .nav__item > .nav__link {
    min-width: fit-content;
}

@media screen and (max-width: 375px) {
    .main .welcome .welcome__background-vector-left {
        right: 11%;
    }
}

@media screen and (max-width: 480px) {
    .main .welcome .welcome__background-vector-left {
        height: 355px;
    }
    .main .welcome .welcome__background-vector-cup {
        width: 72%;
        height: 100%;
        right: -6%;
        top: -17%;
    }
    .welcome__container {
        margin: 0;
        padding: 0;
    }
    .welcome__title {
        font-size: 30px;
        line-height: 1;
    }
    .welcome__subtitle {
        font-size: 14px;
        line-height: 1.4;
        margin: 14px 0 0;
        max-width: 236px;
    }
    .input-group {
        margin-top: 31px;
    }
    .input-group .form-control:last-child {
        padding: 0px 33px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .form-control::placeholder {
        font-size: 14px;
        line-height: 19.6px;
    }
    .btn-group>.btn:first-child {
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .btn {
        font-size: 16px;
        line-height: 22.4px;
        padding: 13px 48px 13px 33px;
    }
    .main .yandex-map, iframe {
        height: 163.75px;
    }
    .partners > .btn.btn-default,
    .partners__subtitle,
    .pager li {
        display: none;
    }
    .partners__item {
        display: flex;
    }
    .partners__coffee-cup {
        background-image: url('../assets/main-page/partners-coffee-cup-mobile.svg');
        width: 146px;
        height: 242px;
        bottom: -3px;
    }
    .main .partners .partners__coffee-beans {
        background-image: url('../assets/main-page/coffee-beans-mobile.svg');
        background-repeat: no-repeat;
        top: 4%;
        right: 0;
    }
    .partners__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 41.25px;
        margin: 40px 0 0;
    }
    .partners__container {
        padding-top: 31px;
        padding-bottom: 53px;
        gap: 0;
    }
    .partners .partners__img {
        width: 272px;
        max-height: 121px;
        object-fit: cover;
        object-position: center top;
    }
    .partners .partners__name {
        font-size: 18px;
        line-height: 25.2px;
        padding: 8px 15px 0;
    }
    .partners__rating {
        padding: 7px 17px 0;
    }
    .partners__description{
        padding: 12px 15px 0;
    }
    .partners__review {
        padding: 67px 15px 24px;
    }
    .partners .carousel-indicators {
        display: flex;
        width: 100%;
        position: static;
        justify-content: center;
        margin: 33px 0 0 0;
        gap: 15px;
    }
    .partners .carousel-indicators li {
        width: 13px;
        height: 13px;
        outline: none;
        background-color: #FFF7E1;
        border: none;
        margin: 0;
    }
    .partners .carousel-indicators .active {
        background-color: #FF5819;
    }
    .carousel-inner {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .footer .nav__item > .nav__link {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0;
    }
}

@media (max-width: 992px) {
    .navbar-toggle {
        display: flex;
        flex-direction: column;
        padding: 17px 0 0 0;
        margin: 0;
    }
    .navbar, .navbar-default {
        padding: 0 17px 0 18px;
    }
    body > .navbar-default .navbar-toggle {
        padding: 0;
    }
    .welcome__img,
    .welcome__background-vector-right,
    .navbar-vector,
    .navbar-toggle:not(.collapsed) .icon-bar {
        display: none;
    }
    .welcome .welcome__background-vector-left {
        background-image: url('../assets/main-page/Vector2-mobile.png');
        height: 100%;
        width: 100%;
        top: 10px;
        transform: translate(50%);
        right: -18%;
        background-size: contain;
    }
    .welcome .welcome__background-vector-cup {
        bottom: 15%;
        right: -4%;
    }
    .navbar-top {
        margin: 0;
        position: fixed;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -13%);
        width: 340px;
        padding: 28px;
        flex-direction: column;
        background-color: #FFF7E1;
        height: fit-content;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        gap: 0;
        z-index: 10;
    }
    .navbar-top > .nav__item {
        padding-top: 17px;
        padding-bottom: 17px;
        max-width: 304px;
        border-bottom: 1px solid #40291366;
        z-index: 10;
    }
    .navbar-top > .nav__item:first-child {
        padding-top: 0;
    }
    .nav__item:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar, .navbar-default {
        background-color: #FFF7E1;
        height: 70px;
    }
    .header {
        box-shadow: 0px 14px 42px 0px #14142B24;
    }
    .container-fluid .logo {
        width: 117.21px;
        padding: 0;
    }
    .container-fluid {
        height: 90%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #402913;
    }
    .navbar-default .navbar-toggle {
        padding: 0px 17px 0 0;
        border: none;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-toggle .icon-bar {
        width: 29px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
   .overlay {
        display: block;
    }
    .navbar-toggle:not(.collapsed) .close-icon {
        display: block;
        background-image: url('../assets/burger-menu-close-btn.svg');
        background-position: center;
        width: 20.51px;
        height: 21px;
        z-index: 10;
    }
    .navbar-nav>li {
        float: none;
        margin-top: 0;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   .main .welcome {
        padding: 40px 0 33px 0;
    }
    .welcome .welcome__info-container {
        margin: 0 18px;
    }
    .partners .partners__coffee-beans {
        top: -19%;
        right: -6%;
    }
    .footer {
        z-index: -1;
    }
}

@media screen and (max-width: 1142px) {
    .footer > .navbar {
        height: fit-content;
        padding: 14px 0 68px 0;
    }
    .footer .container-fluid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container-fluid > .navbar-footer {
        padding-top: 40px;
    }
    .footer .navbar-right {
        padding-top: 50px;
    }
    .navbar-text {
        display: none;
    }
}

@media screen and (max-width: 938px) {
    .partners__item:nth-child(3) {
        display: none;
    }
} 

@media screen and (max-width: 1075px) {
    .welcome__img {
        max-height: 500px;
    }
}

@media screen and (max-width: 1191px) {
    .partners__item:nth-child(4) {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .container-fluid {
        max-width: 1170px;
    }
}